{% extends 'base.html' %}

{% block title %}Contacto - Fritz Gym{% endblock %}

{% block content %}
    <div style="background-color: var(--color-superficie); padding: 25px; border-radius: 8px;">
        <h1>Contáctanos</h1>
        <p>
            ¿Tienes alguna pregunta? ¡Nos encantaría saber de ti! Visítanos o contáctanos a través de los siguientes medios.
        </p>
        
        <h3>Nuestra Ubicación</h3>
        <p>
            <strong>[Dirección completa del gimnasio, Arequipa, Perú]</strong>
        </p>
        <h3>Teléfono</h3>
        <p>
            <strong>[Número de teléfono del gimnasio]</strong>
        </p>

        <h3>Horario de Atención</h3>
        <p>
            <strong>Lunes a Sábado:</strong> 6:00 AM - 10:00 PM<br>
            <strong>Domingos y Feriados:</strong> 8:00 AM - 1:00 PM
        </p>
    </div>
{% endblock %}